@import "node_modules/bootstrap/less/bootstrap.less";
@import (inline) "node_modules/primeng/resources/themes/omega/theme.css";
@import (inline) "node_modules/primeng/resources/primeng.min.css";
@import (inline) "node_modules/font-awesome/css/font-awesome.min.css";

ul {
    list-style: none;   
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.scroll-modal-body{
    height: 600px;
    overflow-y: auto;
}

.form-control-expand {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}