<div class="col-md-3" >
    <item-list>
    </item-list>
</div>
<div class="col-md-9">
    <md-spinner></md-spinner>
</div>
<button class="btn btn-primary" (click)="confirm.open()">TestConfirm</button>
<button class="btn btn-primary" (click)="openAttributes()">TestAttributes</button>
<confirm-dialog 
    #confirm
    title="Confirm" 
    text="Confirm me" 
    (onOk)="userConfirms()">
</confirm-dialog>
<attribute-dialog>
</attribute-dialog>

<span>The attributes form is {{attributeForm.isValid()}}</span>