<modal title="Attributes"
       modalClass="modal-lg"
       [hideCloseButton]="false"
       [closeOnEscape]="false"
       [closeOnOutsideClick]="false">
    <modal-content>
        <div>
            <form #form="ngForm">
                <attribute-table [attributes]="attributes"></attribute-table>
            </form>
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" (click)="save()" type="submit" [disabled]="!form.valid">Ok</button>
    </modal-footer>
</modal>